* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* font-style: italic;
	font-variant: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Inter", sans-serif; */
	font: italic normal bold 16px/1.5 "Inter", sans-serif;
	letter-spacing: 1px;
	word-spacing: 10px;
	text-decoration: underline;
	text-align: left;
}

.accordian {
	margin: 20px;
}

.accordian .panel {
	padding: 20px;
	border: 1px solid #333;
}

.accordian .panel label {
	padding: 10px;
	cursor: pointer;
	display: block;
	position: relative;
	font-weight: bold;
}

.accordian .panel label::before {
	content: "";
	position: absolute;
	top: 12px;
	left: -5px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #333;
}

.accordian .panel > .box {
	display: none;
}

.accordian .panel input:checked ~ label {
	color: purple;
}

.accordian .panel input:checked ~ label::before {
	transform: rotate(90deg);
}

.accordian .panel input:checked ~ .box {
	display: block;
	padding: 0 20px 10px 20px;
}

.accordian .panel input {
	display: none;
}
