:root {
	--primary-color: #f52e5d;
	--secondary-color: #fff;
	--big-font: 40px;
	--small-font: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	background: var(--primary-color);
	color: var(--secondary-color);
	padding: 10px;
	font-size: var(--small-font);
}
