.container {
	width: 200px;
	height: 200px;
	margin: auto;
	overflow: auto;
	border: 1px solid #333;
	padding: 5px;
}

.container img {
	float: left;
}

p {
	float: left;
}

.container .para {
	clear: both;
}
