.box {
	width: 100%;
	text-align: center;
	padding: 20px;
	color: white;
	/* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
	/* background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); */
	background-image: linear-gradient(
		to right,
		#b8cbb8 0%,
		#b8cbb8 0%,
		#b465da 0%,
		#cf6cc9 33%,
		#ee609c 66%,
		#ee609c 100%
	);
}
