* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-image: url("/assets/1-plant.png");
    background-repeat: no-repeat;
    background-position-x: -10%;
	background-position-y: 20px;
    background-size: 100px; */
	background: url("/assets/1-plant.png") no-repeat -10% 10px / 310px,
		url("/assets/bg.jpg") no-repeat center / 100vw 100vh;
}

article {
	background-color: rgb(18, 161, 18);
	width: 70%;
	border-radius: 8px;
	padding: 10px;
	position: absolute;
	top: 20%;
	left: 30%;
	color: #fff;
}

article h1 {
	font-size: 20px;
}

article p {
	font-size: 18px;
}
