p::after {
	content: "This is the para";
}

p::before {
	content: "This is the para";
}

p::first-letter {
	background-color: red;
}

p::first-line {
	color: royalblue;
}

p::selection {
	background-color: salmon;
	color: #fff;
}

li::marker {
	color: seagreen;
	font-size: 30px;
}

input[type="text"]::placeholder {
	color: #fff;
	background-color: slategrey;
}
