* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
article {
	height: 50vh;
	background: url("/assets/banner.jpg") no-repeat center center / cover;
	color: white;
	box-shadow: inset 1000px 0px rgba(0, 0, 0, 0.4);
	text-align: center;
	padding: 35px 20px;
	clip-path: polygon(
		0% 0%,
		100% 0%,
		100% 75%,
		75% 75%,
		75% 100%,
		50% 75%,
		0% 75%
	);
}

article h1,
article p {
	width: 50%;
	margin: auto;
}
